build
include/libft/libft.a
include/minilibx-linux/obj
fractal
include/minilibx-linux/test/main.o
include/minilibx-linux/test/mlx-test
include/minilibx-linux/libmlx.a
include/minilibx-linux/libmlx_Linux.a
fractol
